/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand-1: #ca4b22;
  --vp-c-brand-2: #bc6063;
  --vp-c-brand-3: #b34e52;
    --vp-c-brand-soft: #83d0da50;
    --vp-c-bg-alt: #f9f9f9;

    --vp-c-yellow-1: #edb253;
    --vp-c-yellow-2: #daac61;
    --vp-c-yellow-3: #e6cc78;

    --vp-c-red-1: #b34e52;
    --vp-c-red-2: #bc6063;
    --vp-c-red-3: #cb7676;
  }

  .dark {
    --vp-c-brand-1: #cb7676;
    --vp-c-brand-2: #bc6063;
    --vp-c-brand-3: #b34e52;
    --vp-c-brand-soft: #83d0da50;
    --vp-c-bg-alt: #18181b;

    --vp-c-yellow-1: #e6cc78;
    --vp-c-yellow-2: #daac61;
    --vp-c-yellow-3: #edb253;

    --vp-c-red-1: #cb7676;
    --vp-c-red-2: #bc6063;
    --vp-c-red-3: #b34e52;
  }

  :root {
    --vp-c-default-1: var(--vp-c-gray-1);
    --vp-c-default-2: var(--vp-c-gray-2);
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-c-tip-1: var(--vp-c-brand-1);
    --vp-c-tip-2: var(--vp-c-brand-2);
    --vp-c-tip-3: var(--vp-c-brand-3);
    --vp-c-tip-soft: var(--vp-c-brand-soft);

    --vp-c-warning-1: var(--vp-c-yellow-1);
    --vp-c-warning-2: var(--vp-c-yellow-2);
    --vp-c-warning-3: var(--vp-c-yellow-3);
    --vp-c-warning-soft: var(--vp-c-yellow-soft);

    --vp-c-danger-1: var(--vp-c-red-1);
    --vp-c-danger-2: var(--vp-c-red-2);
    --vp-c-danger-3: var(--vp-c-red-3);
    --vp-c-danger-soft: var(--vp-c-red-soft);
  }

  :root {
    -vp-c-text-1: rgba(42, 40, 47);
    -vp-c-text-2: rgba(42, 40, 47, 0.78);
    -vp-c-text-3: rgba(42, 40, 47, 0.56);
    --black-text-1: rgba(42, 40, 47);
  }

  .dark {
    --vp-c-text-1: rgba(255, 255, 245, 0.86);
    --vp-c-text-2: rgba(235, 235, 245, 0.6);
    --vp-c-text-3: rgba(235, 235, 245, 0.38);
  }

  /**
   * Component: Button
   * -------------------------------------------------------------------------- */

  :root {
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand-1);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-1);
  }

  .dark {
    --vp-button-brand-text: var(--black-text-1);
    --vp-button-brand-bg: var(--vp-c-brand-2);
    --vp-button-brand-hover-text: var(--black-text-1);
    --vp-button-brand-hover-bg: var(--vp-c-brand-1);
    --vp-button-brand-active-text: var(--black-text-1);
    --vp-button-brand-active-bg: var(--vp-c-brand-3);
  }

  /**
   * Component: Home
   * -------------------------------------------------------------------------- */

  :root {
    --vp-home-hero-name-color: var(--vp-c-brand-1);
  }

  @media (min-width: 640px) {
    :root {
      --vp-home-hero-image-filter: blur(56px);
    }
  }

  @media (min-width: 960px) {
    :root {
      --vp-home-hero-image-filter: blur(72px);
    }
  }

  /**
   * Component: Custom Block
   * -------------------------------------------------------------------------- */

  :root {
    --vp-custom-block-tip-border: transparent;
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
    --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
  }

  /**
   * Component: Algolia
   * -------------------------------------------------------------------------- */

  .DocSearch {
    --docsearch-primary-color: var(--vp-c-brand-1) !important;
  }
  .svelecte {
    --sv-min-height: 40px;
  }

  .dark .svelecte {
    --sv-min-height: 40px;
    --sv-bg: var(--vp-c-gray-3);
    --sv-disabled-bg: #222;
    --sv-border: 1px solid #626262;
    --sv-border-radius: 4px;
    --sv-general-padding: 4px;
    --sv-control-bg: var(--sv-bg);
    --sv-item-wrap-padding: 3px 3px 3px 6px;
    --sv-item-selected-bg: #626262;
    --sv-item-btn-color: #ccc;
    --sv-item-btn-color-hover: #ccc;
    --sv-item-btn-bg: #626262;
    --sv-item-btn-bg-hover: var(--vp-c-brand-2);
    --sv-icon-color: #bbb;
    --sv-icon-color-hover: #ccc;
    --sv-icon-bg: transparent;
    --sv-icon-size: 20px;
    --sv-separator-bg: #626262;
    --sv-btn-border: 0;
    --sv-placeholder-color: #ccccd6;
    --sv-dropdown-bg: var(--sv-bg);
    --sv-dropdown-border: var(--sv-border);
    --sv-dropdown-offset: 1px;
    --sv-dropdown-width: auto;
    --sv-dropdown-shadow: 0 1px 3px #555;
    --sv-dropdown-height: 320px;
    --sv-dropdown-active-bg: #553d3d;
    --sv-dropdown-selected-bg: #754545;
    --sv-create-kbd-border: 1px solid #626262;
    --sv-create-kbd-bg: #626262;
    --sv-create-disabled-bg: #fcbaba;
    --sv-loader-border: 2px solid #626262;

  }
  .dark button {
    border-radius: 0;
  }
  .sv-control {
    min-height: 40px;
  }
  h1 {
    margin-top: 16px;
    margin-bottom: 28px
  }
  body {
    overflow: scroll;
  }

 .vp-doc {
    h1 > a {
      color: inherit;
      text-decoration: none;
    }
    h2 > a,
    h3 > a,
    h4 > a,
    h5 > a,
    h6 > a {
      text-decoration: none;
      color: inherit;
    }
 }
  .toc {
    .toc-level-1 {
      font-size: $font-size-3;
      font-weight: $font-weight-bold;
    }
  }

  .dark .light-toggle {
    display: none;
  }
  html:not(.dark) .dark-toggle {
    display: none;
  }
  .nav-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }
