html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
} */

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
/* .docs-content > .container {
	margin: 1rem;
} */

details {
	margin-bottom: 1rem;
}
details > div {
	border-left: 2px solid #ffae95;
	padding-left: 0.5rem;
}

dd {
	margin-left: 1rem !important;
}

.section {
	margin-top: 2rem;
}

.nav-wrap {
	background-color: rgb(238, 238, 238);
	height: 100%;
	box-shadow: 2px 0 5px #ccc;
}
.nav-wrap > .nav-list {
	position: sticky;
	top: 0;
}
pre {
	overflow: auto;
}

hr {
	height: 1px;
	background-color: #ccc;
	border: 0;
}
.example-wrap {
	border: 2px dashed #ccc;
	padding: 1rem;
	margin-bottom: 1rem;
}

table {
	/* border: 1px solid #ccc; */
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ccc;
}
td.td-section {
	border: 0;
	background-color: white;
	padding: 1rem 0 0;
}
summary:hover {
	background-color: #ff612d46;
}
.footer {
	margin: 1.5rem 0 2rem;
	text-align: center;
}
.menu {
	min-width: auto;
	/* background-color: rgb(241, 241, 241); */
}
/* .divider[data-content]:after {
	color: #ff3e00;
	display: block;
} */
.docs-brand {
	padding-bottom: 0.5rem;
}
.docs-brand:hover {
	background-color: #333;
}
.docs-brand:hover svg {
	fill: #ff3e00;
}
.docs-brand:hover .velecte {
	color: white;
}

.brand-delim {
	font-size: 1.5rem;
	line-height: 1rem;
}

.docs-brand:hover .brand-delim {
	color: white;
}
.middle-img {
	vertical-align: text-bottom;
}